@import url("https://use.typekit.net/way7gmx.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#mobile {
  display: none;
  overflow-y: hidden;
}
#open {
  display: none;
}

/*navigation*/
header {
  height: 120px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
li, a {
  list-style: none;
  text-decoration: none;
}
a {
  color: #000;
  font-size: 17.5px;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
}
.logo {
  float: none;
  cursor: pointer;
}
.nav_links {
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.nav_links li {
  display: inline-block;
  padding-right: 20px;
}
.sns {
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.sns li {
  display: inline-block;
  align-items: center;
  padding-left: 18px;
}


/* body */
.cards {
  /*
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-auto-columns: 1fr;

  padding: 0 4%;
  grid-gap: 15px;
  row-gap: 15px;
}



article:hover .overlay {
  height: 40%;
}
article p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 22px;
}
article {
  position: relative;
  flex-grow: 1;
}
.article-img {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  max-width: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /*rgba(255,255,255,0.6);*/

  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.year {
  padding-bottom: 5px;
}

/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 50px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 550px;
    border: 5px solid;
    border-color: white;
    padding: 10px 10px 5px 10px;
}

.slide {
    display: none;
    text-align: center;
}

.image-slide {
    width: 100%;
    max-width: 900px;
}

.modal-preview {
    width: 100%;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.preview,
img.modal-preview {
    opacity: 1;
}

img.active {
    opacity: 0.6;
}

.preview:hover,
.modal-preview:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 9px 20px 0 rgba(0, 0, 0, 1);
}

/*footer*/
.footer {
  position: relative;
  width: 100%
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 40px;
}
.footer p {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 13.5px;
  padding-top: 0px;
}


/*responsive*/


@media (max-width: 770px){
  body {
    overflow-x: hidden;
  }
  header {
    margin-left: 40%;
  }
  .logo {
  }
  #open {
    display: block;
    padding: 10px;
  }
  .line {
    width: 24px;
    height: 1.5px;
    background-color: #282828;
    margin-bottom: 4.5px;
  }
  .nav_links {
    display: none;
  }
  .sns {
    display: none;
  }
  .close_icon {
    position: absolute;
    right: 32px;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  .close_icon:before, .close_icon:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 1.5px;
    background-color: #282828;
  }
  .close_icon:before {
    transform: rotate(45deg);
  }
  .close_icon:after {
    transform: rotate(-45deg);
  }

  .nav_mobile {
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .nav_mobile a {
    font-size: 23px;
    display: inline-block;
    padding-bottom: 25px;
    padding-right: 0px;
  }
  .sns_mobile {
    z-index: 999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;

    background-color: #fff;
    height: 11vh;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid #ebebeb;
  }
  .sns_mobile li {
    margin: 0px 15px;
  }

  /*body*/
  .article-img {
    width: 100%;
    height: auto;
  }
  article:hover .overlay {
    height: 40%;
  }
}
